body {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Options */
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.options-grid-header {
    margin-bottom: 0;
}
.options-grid {
    margin-left: 10px;
}

/* Grid */
.rows {
    display: flex;
    flex-direction: row;
}
.row {
    display: flex;
    flex-direction: column;
}

/* Tiles */
.tile {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.tile-none {
    background-color: #34ceff;
}
.tile-wall {
    background-color: #000000;
}
.tile-start {
    background-color: #00ff00;
}
.tile-end {
    background-color: #ff0000;
}
.tile-visited {
    background-color: #ff00ff;
}
.tile-path {
    background-color: #ffff00;
}
