body {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Options */
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.options-grid-header {
    margin-bottom: 0;
}
.options-grid {
    margin-left: 10px;
}

/* Grid */
.canvas-grid{
    /** TODO: Substract options from width */
    height: calc(100vmin - 40px);
    max-height: calc(100vh - 40px);
    width: calc(100vmin - 40px);
    max-width: calc(100vmin - 40px);
}
.grid {
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
}
.grid-newline {
    flex-basis: 100%;
    height: 0;
}

/* Tiles */
.tile {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
.tile-none {
    background-color: #34ceff;
}
.tile-wall {
    background-color: #000000;
}
.tile-start {
    background-color: #00ff00;
}
.tile-end {
    background-color: #ff0000;
}
.tile-visited {
    background-color: #ff00ff;
}
.tile-path {
    background-color: #ffff00;
}
